/* General */
body {
  padding-top: 50px;
}

/* Utilities */
.mb-15 {
  margin-bottom: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.color-white {
  color: #fff;
}

.star-icon {
  position: relative;
  font-size: 30px;
}

.star-icon-white::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 55%;
  width: 15%;
  height: 2px;
  background: #fff;
}

.star-icon-white::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 55%;
  width: 15%;
  height: 2px;
  background: #fff;
}
.star-icon-black::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 55%;
  width: 15%;
  height: 2px;
  background: #333;
}
.star-icon-black::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 55%;
  width: 15%;
  height: 2px;
  background: #333;
}

/* Header */
header {
  background: #19bc9c;
}

.navbar-default {
  background: #2b3e50;
  border: none;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #fff;
}

/* Jumbotron */
.jumbotron {
  background: #19bc9c;
  color: #fff;
}

.jumbotron img {
  width:150px;
}

.jumbotron li {
  font-size: 20px;
}

.jumbotron li:nth-child(even)::before {
  content: '-';
  padding-right: 10px;
}

.jumbotron li:nth-child(even)::after {
  content: '-';
  padding-left: 10px;
}

/* Portfolio */

/* About */
#about {
  background: #19bc9c;
}

#about .btn {
  background: #19bc9c;
  border-color: #fff;
}

#about .btn a {
  text-decoration: none;
}

/* Form */

#contact-me label {
  font-weight: 500;
  font-size: 20px;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
}

#contact-me button {
  background: #19bc9c;
  border: none;
}
